<div class="container" style="width:30em;">
    
   <center> <h1> Instrucciones para Telegram </h1></center>
   <br><br>
          <table class="table table-bordered">
           <thead>
              <center><tr>
                 <td width=100>Comando</td>
                  <td width=100>Acción</td>  
              </tr></center>
              <center><tr>
               <td width=100>/Yo soy name</td>
                 <td width=100>Saluda y tendrá como respuesta Hola + name!!</td>
                  
              </tr></center>
              <center><tr>
               <td width=100>/foto name</td>
                 <td width=100>Mostrará una imagen</td>
                    
              </tr></center>
              <center><tr>
               <td width=100>/ubicacion name</td>
                 <td width=100>Mostrará la ubicacion correspondiente</td>
              </tr></center>
              <center><tr>
               <td width=100>/audio name</td>
                 <td width=100>Mostrará una canción</td>
              </tr></center>
              
           </thead>
              
          </table>
<br><br><br>
         <center> <p>Maria Elvia Cerón Maldonado ITI-91</p></center>

            </div>